
.ticket-container {
  border: 1px solid #000;
  padding: 16px;
  max-width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.ticket-header, .ticket-body, .ticket-footer {
  text-align: center;
}

.ticket-logo {
  max-width: 80px;
  margin: 0 auto 10px;
}

.ticket-title {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.ticket-body p {
  margin: 6px 0;
  font-size: 14px;
}

.ticket-footer {
  font-size: 12px;
  margin-top: 10px;
  line-height: 1.4;
}

.print-button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

@media print {
  body {
    visibility: hidden;
    overflow: hidden; /* Evita barras de desplazamiento */
  }

  .ticket-container, .ticket-container * {
    visibility: visible;
  }

  .ticket-container {
    position: center;
    width: 400%; /* Ocupa todo el ancho de la página */
    height: auto; /* Ajusta la altura automáticamente */
    margin: 0;
    padding: 0;
    font-size: 18px; /* Tamaño de la letra aumentado */
  }

  .ticket-header, .ticket-body, .ticket-footer {
    text-align: center;
    font-size: 18px; /* Tamaño de la letra aumentado */
  }

  .ticket-logo {
    max-width: 100px; /* Tamaño máximo del logo */
    margin: 0 auto 10px; /* Margen inferior */
  }

  .ticket-title {
    font-size: 26px; /* Tamaño de la letra aumentado */
    margin-bottom: 10px; /* Margen inferior */
  }

  .ticket-body p {
    margin: 8px 0; /* Margen */
    font-size: 18px; /* Tamaño de la letra aumentado */
  }

  .ticket-footer {
    font-size: 16px; /* Tamaño de la letra aumentado */
    margin-top: 10px; /* Margen superior */
  }
}
