<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Personal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
  <div class="container mt-4">
    <div class="header">
      <h1>Detalles del Personal</h1>
      <button class="btn btn-primary" (click)="regresarListaPersonal()">
        <img src="assets/icono/cancelar.png" alt="Cancelar" class="icon">
      </button>
    </div>

    <div *ngFor="let personal of filteredPersonal" class="personal-details">
      <div class="section">
        <h2><i class="fas fa-user"></i> Datos personales</h2>
        <div class="row">
          <div class="col-md-6">
            <label for="nombres"><strong>Nombres:</strong></label>
            <p id="nombres">{{ personal.nombres }}</p>
          </div>
          <div class="col-md-6">
            <label for="apellidos"><strong>Apellidos:</strong></label>
            <p id="apellidos">{{ personal.apellidos }}</p>
          </div>
          <div class="col-md-6">
            <label for="nroDNI"><strong>N° DNI:</strong></label>
            <p id="nroDNI">{{ personal.nroDNI }}</p>
          </div>
          <div class="col-md-6">
            <label for="edad"><strong>Edad:</strong></label>
            <p id="edad">{{ personal.edad }}</p>
          </div>
        </div>
      </div>

      <div class="section">
        <h2><i class="fas fa-address-book"></i> Datos de contacto</h2>
        <div class="row">
          <div class="col-md-6">
            <label for="celular"><strong>Celular:</strong></label>
            <p id="celular">{{ personal.celular }}</p>
          </div>
          <div class="col-md-6">
            <label for="genero"><strong>Género:</strong></label>
            <p id="genero">{{ personal.genero }}</p>
          </div>
          <div class="col-md-6">
            <label for="fechaNacimiento"><strong>Fecha de Nacimiento:</strong></label>
            <p id="fechaNacimiento">{{ personal.fechaNacimiento | date: 'yyyy-MM-dd' : 'UTC' }}</p>
          </div>
        </div>
      </div>

      <div class="section">
        <h2><i class="fas fa-map-marker-alt"></i> Ubicación y Perfil</h2>
        <div class="row">
          <div class="col-md-6">
            <label for="email"><strong>Email:</strong></label>
            <p id="email">{{ personal.email }}</p>
          </div>
          <div class="col-md-6">
            <label for="departamento"><strong>Departamento:</strong></label>
            <p id="departamento">{{ personal.departamento }}</p>
          </div>
          <div class="col-md-6">
            <label for="direccion"><strong>Dirección:</strong></label>
            <p id="direccion">{{ personal.direccion }}</p>
          </div>
          <div class="col-md-6">
            <label for="provincia"><strong>Provincia:</strong></label>
            <p id="provincia">{{ personal.provincia }}</p>
          </div>
          <div class="col-md-6">
            <label for="distrito"><strong>Distrito:</strong></label>
            <p id="distrito">{{ personal.distrito }}</p>
          </div>
          <div class="col-md-6">
            <label for="perfil"><strong>Perfil:</strong></label>
            <p id="perfil">{{ personal.perfil }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
